
.breadcrumb {
  padding: 0;
  background-color: transparent;
  margin-top: 31px;
  margin-bottom: 0;

  @media(max-width: $screen-md){
    display: none;
  }
  @media(max-width: $screen-sm){

  }

  li {
    a {
      font-size: 14px;
      color: #464645;
    }

    & + li::before {
      content: "";
      background-image: url(../icons/arrow.svg);
      width: 8px;
      height: 12px;
      display: inline-block;
      vertical-align: middle;
      padding: 0;
      margin-left: 7px;
      margin-right: 15px;
    }

    &.active {
      color: $color-deep;
    }
  }
}
