
.breadcrumb {
  padding: 0;
  background-color: transparent;
  margin-top: 31px;
  margin-bottom: 59px;

  @media(max-width: $screen-md){
    display: none;
    margin-bottom: 15px;
  }
  @media(max-width: $screen-sm){

  }

  li {
    a {
      font-size: 14px;
      color: $color-deep;
    }

    & + li::before {
      content: "—";
      font-size: 14px;
      color: rgb(61, 69, 86);
      padding-left: 1px;
      padding-right: 5px;
    }

    &.active {
      color: $color-deep;
    }
  }
}
