.logo {
  width: 220px;
  height: 55px;
  background-image: url(../img/logo.png);
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  @media(max-width: $screen-sm) {
    width: 111px;
    height: 28px;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), not all, not all, not all {
    background-image: url(../img/logo.png);
  }

  &--mini {
    width: 220px;
    height: 55px;
  }
}

.digital-logo {
  background: url(../img/breffi-digital-logo-grey.png);
  width: 116px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain !important;

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), not all, not all, not all {
    background: url(../img/breffi-digital-logo-grey@2x.png);
  }
}
