.main-modal {
  $block-name: &; // #{$block-name}__element {}
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;

  .container, .content__container {
    position: relative;

    @media(max-width: 1200px){
      width: 100%;
    }
    @media(max-width: $screen-xs){

    }
  }

  &__header {
    flex: 0 0 auto;
    padding-top: 16px;
    margin-bottom: 30px;
    // margin-bottom: 50px;
    @media(max-width: 1200px){
      padding-left: 100px;
      padding-right: 100px;
    }

    @media(max-width: $screen-sm){
      padding-left: 80px;
      padding-right: 80px;
    }

    @media(max-width: $screen-md){
      padding-top: 23px;
    }
    @media(max-width: $screen-xs){
      padding-left: 75px;
      padding-right: 10px;
    }

    .container, .content__container {
      @media(max-width: $screen-xs){
        padding: 0;
      }
    }
  }

  &__logo {
    font-size: 22px;
    line-height: 28px;
    color: $color-sky;
    font-family: $verdana-bold;

    @media(max-width: $screen-md) {
      font-size: 18px;
      line-height: normal;
    }

    span {
      color: $color-alpha;
    }
  }

  &__content {
    flex: 1 0 auto;
    padding: 50px 0px;

    @media(max-width: 1200px){
      padding: 0px 100px;
    }

    @media(max-width: $screen-sm){
      padding-left: 80px;
      padding-right: 80px;
    }

    @media(max-width: $screen-xs){
      padding: 0;
    }

    p {
      line-height: 28px;
      font-size: 22px;
      color: $color-summer;
      font-weight: 600;
      margin-bottom: 0;

      @media(max-width: $screen-sm){
        font-size: 18px;
        line-height: normal;
      }
    }

    u {
      font-size: 18px;
      color: $color-main;
      font-weight: 300;
      font-family: $verdana-italic;

      @media(max-width: $screen-sm){
      }
    }

    img {
      margin-top: 20px;
      margin-bottom: 20px;
      max-width: 100%;

      @media(max-width: $screen-sm){
        max-width: 100%;
      }
    }
  }

  &__title {
    line-height: 163px;
    font-size: 130px;
    color: $color-alpha;
    font-weight: 100;

    @media(max-width: $screen-md){
      line-height: normal;
      font-size: 70px;
    }
    @media(max-width: $screen-sm){
      font-size: 30px;
    }

    &--simple {
      line-height: normal;
      font-size: 52px;
      font-weight: 700;

      @media(max-width: $screen-md){
        font-size: 30px;
      }
      @media(max-width: $screen-sm){
        font-size: 20px;
      }

      sup {
        // line-height: 28px;


        @media(min-width: $screen-md) {
          top: -30px;
          font-size: 22px;
        }
      }
    }
  }

  &__subline {
    line-height: 36px;
    font-size: 30px;
    color: #1e588d;

    @media(max-width: $screen-md) {
      font-size: 20px;
      line-height: normal;
    }
  }

  &__footer {
    flex: 0 0 auto;

    &__content {
      padding-top: 10px;
      padding-bottom: 10px;

      @media(max-width: 1200px){
        padding: 0px 100px;
      }

      @media(max-width: $screen-sm){
        padding-left: 80px;
        padding-right: 80px;
      }

      @media(max-width: $screen-xs){
        padding: 0;
      }
    }

    &__main {
      background-color: rgba(94, 138, 175, 0.5);
      padding: 30px 0px;
      margin-top: 20px;

      @media(max-width: 1200px){
        padding: 30px 100px;
      }

      @media(max-width: $screen-sm){
        padding-left: 80px;
        padding-right: 80px;
      }

      @media(max-width: $screen-xs){
        padding-left: 0;
        padding-right: 0;
      }

      p {
        margin: 0;
        color: #00467f;
        line-height: 23px;
        font-size: 18px;
        font-weight: 300;
      }

      u {
        font-family: $verdana-italic;
        text-decoration: none;
        border-bottom: 1px solid rgb(94,138,175);
      }
    }

    &__img {
      max-width: 376px;
      padding-left: 10px;
      padding-top: 8px;
      padding-right: 10px;
      background-color: white;
      margin-bottom: 20px;

      img {
        width: 100%;
      }
    }
  }

  &__literature {
    font-weight: 400;
    border-top: 1px solid rgb(239,239,239);
    padding-top: 10px;
    list-style: none;
    color: $color-sky;
    padding-left: 0px;
    margin-bottom: 0;

    li {

      & + li {
        margin-top: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    p {
      line-height: 15px;
      font-size: 12px;
      margin-bottom: 0;
      color: $color-sky;
    }
  }

  &__nav {
    @media(max-width: $screen-xs){
      display: none;
    }

    &__item {
      position: fixed;
      transform: translate(0%, -50%);
      top: 50%;
      display: flex;
      align-items: center;
      z-index: 0;

      &--left {
        left: 20px;

        @media(max-width: $screen-sm){
          left: 5px;
        }

        #{$block-name}__nav {
          &__img {
            margin-right: 10px;
          }
          &__text {


            span {
              transform: scale(-1);
              will-change: transform;
            }
          }
        }
      }

      &--right {
        right: 20px;

        @media(max-width: $screen-sm){
          right: 5px;
        }

        #{$block-name}__nav {
          &__img {
            margin-left: 10px;
          }
          &__text {
            span {

            }
          }
        }
      }
    }

    &__img {
      width: 55px;
      height: 55px;
      background-color: rgba(94,138,175, 0.6);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      padding: 0;
      // background-color: transparent;
      cursor: pointer;

      &:hover, &:focus {
        background-color: rgb(253,186,49);
      }

      img {
        width: 10px;
      }
    }

    &__text {
      // position: absolute;
      // transform: translate(0, 50%);
      // top: 50%;
      width: 20px;
      height: 100%;
      line-height: 18px;
      font-size: 14px;
      color: $color-sky;
      font-weight: 500;
      white-space: nowrap;
      writing-mode: vertical-rl;
      text-align: center;

      span {
        display: inline-block;
      }

      &--left {
        left: 100%;

        span {
          // transform: rotate(-90deg);
          margin-left: -10px;
        }
      }

      &--right {
        right: 100%;
        transform: scale(-1);
        will-change: transform;

        span {
          // transform: rotate(90deg);
          margin-right: -1px;
        }
      }
    }
  }

  &__close {
    // position: absolute;
    position: fixed;
    top: 0;
    // left: -100px;
    left: 20px;
    top: 20px;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    background-color: rgba(94,138,175, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    &:hover, &:focus {
      background-color: rgb(253,186,49);
    }
  }

  &__promo {
    margin-top: 50px;
    padding-bottom: 70px;
    border-bottom: 1px solid rgb(239,239,239);

    &:last-child {
      border-bottom: none;
    }

    &__down {
      margin-top: 250px;
      margin-bottom: 100px;
      text-align: center;

      @media(max-width: 1200px) {
        // margin-top: 50px;
        // margin-bottom: 50px;
        display: none;
      }

      img {
        width: 54px;
      }
    }

    &__title {
      line-height: 50px;
      font-size: 40px;
      color: $color-sky;
      display: inline-block;
      border-bottom: 8px solid $color-bright;
      margin-bottom: 24px;

      @media(max-width: $screen-md){
        line-height: normal;
        font-size: 30px;
      }
    }

    &__text {
      color: $color-main;
      line-height: 35px;
      font-size: 28px;

      @media(max-width: $screen-md) {
        font-size: 18px;
        line-height: normal;
      }
    }

    &__block {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 166px;
      height: 166px;
      border-radius: 50%;
      background: rgba(94,138,175, 0.09);
      margin-right: 30px;
      margin-bottom: 30px;
      padding: 10px;

      @media(max-width: $screen-sm) {
        margin: 0 auto;
        margin-bottom: 20px;
      }

      &:last-child {
        margin-right: 0;

        @media(max-width: $screen-sm) {
          margin: 0 auto;
        }
      }

      img {
        margin: 0;
        max-width: 100%;
        max-height: 100%;
      }

      &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-bottom: 40px;
      }
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    &__block {
      padding: 0px 50px;

      @media(max-width: $screen-sm) {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 50px;
      }

      &:last-child {
        @media(max-width: $screen-sm) {
          margin-bottom: 0;
        }
      }
    }

    &__wrapper {
      display: flex;
      margin-left: -50px;
      margin-right: -50px;

      @media(max-width: $screen-sm) {
        flex-wrap: wrap;
        margin-left: -20px;
        margin-right: -20px;
      }
    }

    &__title {
      line-height: 38px;
      font-size: 30px;
      color: $color-sky;
      margin-bottom: 50px;

      @media(max-width: $screen-md) {
        font-size: 22px;
        line-height: normal;
        margin-bottom: 30px;
      }
    }

    li {
      color: $color-main;
      line-height: 25px;
      font-size: 20px;
      position: relative;
      padding-left: 30px;

      @media(max-width: $screen-md) {
        font-size: 18px;
        line-height: normal;
      }

      &:before {
        content: "";
        position: absolute;
        top: 11px;
        left: 0;
        width: 16px;
        height: 5px;
        background-color: $color-main;
      }

      p {
        color: $color-main;
        line-height: 25px;
        font-size: 20px;
        font-weight: 400;

        @media(max-width: $screen-md) {
          font-size: 18px;
          line-height: normal;
        }
      }
    }

    u {
      font-style: normal;
    }
  }

  &__feature {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;

    @media(max-width: $screen-sm) {
      margin-left: -20px;
      margin-right: -20px;
    }


    &__block {
      width: 50%;
      margin-bottom: 50px;
      padding-left: 30px;
      padding-right: 30px;

      @media(max-width: $screen-sm) {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 30px;
      }

      @media(max-width: $screen-sm) {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 166px;
      height: 166px;
      border-radius: 50%;
      background-color: rgba(94,138,175, 0.09);
      margin-bottom: 20px;
      padding: 10px;
    }

    &__title {
      color: $color-sky;
      line-height: 38px;
      font-size: 30px;
      margin-bottom: 10px;

      @media(max-width: $screen-md) {
        font-size: 20px;
        line-height: normal;
      }
    }

    p {
      color: $color-main;
      line-height: 25px;
      font-size: 20px;

      @media(max-width: $screen-md) {
        font-size: 16px;
        line-height: normal;
      }
    }
  }

  &__video {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;

    &:before {
      content: "";
      display: block;
      padding-top: 56.25%;
    }

    &:after {
      content: "";
      position: absolute;
      top: -100px;
      right: -100px;
      width: 277px;
      height: 277px;
      background-color: rgba(255,72,0, 0.03);
      border-radius: 50%;
      z-index: -1;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  &__chart {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(239,239,239);
    padding-bottom: 150px;
    margin-bottom: 50px;

    @media(max-width: $screen-md){
      padding-bottom: 50px;
    }

    &__title {
      line-height: 24px;
      font-size: 16px;
      color: $color-main;
      margin-top: 50px;
      text-align: center;
      font-weight: 400;
    }

    &__main {
      flex: 1;

      @media(max-width: $screen-md){
        flex: 0 0 100%;
      }
    }

    &__description {
      width: 250px;
      margin-top: 50px;

      @media(max-width: $screen-md){
        width: 100%;
        margin-top: 30px;
      }

      p {
        color: #00467f;
        line-height: 24px;
        font-size: 16px;
      }
    }

    &__legends {
      padding: 0;
      margin: 0;
      margin-top: 40px;
      color: #00467f;
      list-style: none;
      line-height: 24px;
      font-size: 16px;

      li {
        width: 100%;
      }
    }

    &__line {
      display: inline-block;
      width: 29px;
      height: 10px;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    z-index: -1;

    @media(max-width: $screen-sm) {
      display: none;
    }
  }

  &__info {
    width: 100%;
    display: flex;
    align-items: center;

    @media(max-width: $screen-md){
      margin-top: 30px;
    }

    &__img {
      width: 53px;
      flex: 0 0 53px;
      height: 53px;
      border-radius: 50%;
      background-color: rgba(94,138,175, 0.09);
      margin-right: 20px;

      img {
        width: 100%;
        margin: 0;
      }
    }

    &__description {

    }

    p {
      color: #00467f;
      font-size: 22px;

      @media(max-width: $screen-md){
        font-size: 16px;
        line-height: normal;
      }
    }

    &__title {
      color: #00467f;
      line-height: 35px;
      font-size: 28px;

      @media(max-width: $screen-md){
        font-size: 20px;
        line-height: normal;
      }
    }
  }

  &__medicina {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;

    &__img {
      width: 50%;
      padding-right: 30px;
      // width: 100%;

      @media(max-width: $screen-md){
        width: 100%;
        padding-right: 0;
        margin-bottom: 30px;
      }
      @media(max-width: $screen-sm){
        // width: 100%;
      }

      img {
        @media(max-width: $screen-md){
          margin: 0 auto;
        }
      }
    }

    &__description {
      flex: 1;
    }

    p {
      line-height: 23px;
      font-size: 18px;
      color: #00467f;

      @media(max-width: $screen-md){
        font-size: 16px;
        line-height: normal;
      }
    }
  }
}

#chart {
  max-width: 760px;
  margin: 35px auto;
  opacity: 0.9;
}
