
.modal {
  $block-name: &; // #{$block-name}__element {}

  &-backdrop {
    background-color: rgb(0, 171, 224);

    &.in {
      opacity: 0.8;
    }
  }

  &-dialog {
    box-shadow: -5px 0 20px 0 rgba(0, 0, 0, 0.2);
  }

  &--simple {
    // background-color: rgba(0, 70, 127, 0.88);
    background-color: white;
    // color: white;

    #{$block-name} {
      &-backdrop {

      }

      &-content {
        background: transparent;
        box-shadow: none;
        border: none;

        p {
          margin-bottom: 26px;
          line-height: 22px;

          @media(max-width: $screen-md){
            font-size: 15px;
            margin-bottom: 20px;
            line-height: 22px;
          }
        }
      }

      &-dialog {
        display: block;
        height: auto;
        max-width: 620px;
        width: 100%;
        margin: 0 auto;
        margin-top: 53px;
        margin-bottom: 50px;
        box-shadow: none;

        @media(max-width: $screen-sm){
          margin: 0;
          padding: 24px 20px 47px 20px;
          align-items: baseline;
        }
        @media(max-width: $screen-sm){
          height: auto;
          display: block;
        }
      }

      &__title {
        margin-bottom: 24px;

        @media(max-width: $screen-sm){
          margin-bottom: 22px;
        }
      }

      &__button {
        padding-top: 28px;

        @media(max-width: $screen-md){
          padding-top: 37px;
        }

        &__agree {
          color: white;
        }

        .btn {
          min-width: 256px;
          padding-top: 14px;
          padding-bottom: 13px;

          @media(max-width: $screen-md){
            min-width: 220px;
            display: block;
            margin: 0 auto;
            margin-bottom: 17px;
          }

          &:last-child {
            @media(max-width: 600px){
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  &--side {
    #{$block-name} {
      opacity: 1;

      &-backdrop {
        // background-color: rgba(33, 48, 64, 0.8);

        &.in {
          opacity: 1;
        }
      }

      &-content {
        height: 100%;
        @media(max-width: $screen-md){
          // height: 100%;
        }
      }

      &__close {
        transition: opacity 0.2s linear, right 0.2s ease-out;

        @media(max-width: $screen-md){
          right: 9px;
          position: absolute;
          top: -8px;
          width: 15px;
        }

        .btn {
          padding: 0;
          fill: #256386;
          background-color: transparent;
          min-width: auto !important;
        }

        img {
          @media(max-width: $screen-md) {
            width: 100%;
          }
        }
      }

      &-dialog {
        position: fixed;
        top: 0;
        height: 100%;
        width: 894px;
        right: -100%;
        background-color: white;
        padding: 63px 8px 60px 80px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        z-index: 4;
        margin: 0;

        @media(max-width: $screen-md){
          // width: 260px;
          width: 85%;
          padding: 20px 10px 20px 20px;
          margin: 0;
        }
        @media(max-width: $screen-xs){
          width: 280px;
        }
      }

      &-content {
        border: none;
        border-radius: 0px;
        box-shadow: none;
        background-color: transparent;
      }
    }

    &.fade {
      #{$block-name} {
        &-dialog {
          right: -897px;
          transition: opacity 0.2s linear, right 0.2s ease-out;
        }
      }

      &.in {
        #{$block-name} {
          &-dialog {
            right: 0;
          }

          &__close {
            right: 910px;

            @media(max-width: $screen-md){
              right: 310px;
            }

            @media(max-width: $screen-sm){
              right: 88%;
            }
          }
        }
      }
    }
  }
}
