
.promo-result {
  &__wrapper {

  }

  &__box {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    display: table;
    width: 100%;
    margin: 0;

    &__img {
      width: 220px;
      display: table-cell;
      vertical-align: top;
      position: relative;

      @media(max-width: $screen-sm){
        display: none;
      }

      &__wrapper {

      }

      img {
        width: 100%;
      }
    }

    &__description {
      display: table-cell;
      vertical-align: top;
      position: relative;
      padding-left: 20px;
      padding-bottom: 20px;

      @media(max-width: $screen-sm){
        padding-left: 0;
        padding-bottom: 0;
      }
    }

    &__notify {
      display: inline-block;
      vertical-align: top;
      font-size: 12px;
      color: #27d276;
      text-transform: uppercase;
      margin-bottom: 3px;

      @media(max-width: $screen-sm){
        margin-bottom: 5px;
      }

      &:hover, &:focus {
        color: #27d276;
        text-decoration: none;
      }
    }

    &__title {
      display: block;
      color: #3c4454;
      font-size: 20px;
      margin-bottom: 5px;

      @media(max-width: $screen-sm){
        font-size: 18px;
      }

      a {
        color: #3c4454;

        &:hover, &:focus {
          color: #3c4454;
          text-decoration: none;
        }
      }
    }

    &__text {
      line-height: 21px;

      @media(max-width: $screen-sm){
        font-size: 14px;
      }
    }

    &__info {
      position: absolute;
      bottom: -4px;
      left: 20px;
      padding: 0;
      list-style: none;
      margin: 0;
      text-transform: uppercase;
      color: #3c4454;

      @media(max-width: $screen-sm){
        position: relative;
        bottom: auto;
        left: auto;
        margin-top: -5px;
        font-size: 11px;
        letter-spacing: 1px;
      }

      li {
        display: inline-block;
        vertical-align: middle;
        padding-right: 30px;

        @media(max-width: $screen-sm){
          //margin-right: 28px;
        }

        &:last-child {
          padding-right: 0;

          @media(max-width: $screen-sm){
            //margin-right: 0;
          }
        }
      }
    }

    &__play {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 37px;
      height: 29px;
      background-color: $color-main;
      text-align: center;

      svg {
        width: 30px;
        height: 30px;
      }
    }

    &__time {
      position: absolute;
      bottom: 7px;
      right: 9px;
      background: black;
      height: 24px;
      font-size: 12px;
      padding: 6px 8px 6px 8px;
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &__more {
    text-align: center;
    margin-top: 50px;

    .btn {
      max-width: 284px;
      width: 100%;
      font-size: 15px;

      @media(max-width: $screen-sm){
        max-width: none;
        width: auto;
        min-width: 190px;
        font-size: 12px;
        padding: 14px 10px 9px 10px;
      }
    }
  }
}
