
.slider {
  .slick-arrow {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    width: 26px;
    height: 49px;
    font-size: 0;
    border: none;
    outline: none;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    z-index: 1;
    @media (max-width: $screen-sm) {
      width: 14px;
      height: 25px;
    }

    &.slick-prev {
      left: -125px;
      background: url("../img/pointer-left.png");
      @media (max-width: 1100px) {
        left: -10px;
      }
      @media (max-width: $screen-xs) {
        left: -3px;
      }

      @media only screen and (-webkit-min-device-pixel-ratio: 1.5), not all, not all, not all {
        background: url("../img/pointer-left-2x.png");
      }
    }

    &.slick-next {
      right: -125px;
      background: url("../img/pointer-right.png");
      @media (max-width: 1100px) {
        right: -10px;
      }
      @media (max-width: $screen-xs) {
        right: -3px;
      }

      @media only screen and (-webkit-min-device-pixel-ratio: 1.5), not all, not all, not all {
        background: url("../img/pointer-right-2x.png");
      }
    }
  }
}

.slick-dots {
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 0;

  li {
    display: inline-block;
    margin: 0px 4px;

    button {
      vertical-align: top;
      background: $color-bright;
      border-radius: 50%;
      border: 3px solid white;
      padding: 0;
      font-size: 0px;
      width: 10px;
      height: 10px;
    }

    &.slick-active {
      button {
        border-color: $color-bright;
        background-color: #fff;
      }
    }
  }
}
