
.promo-step {
  @include make-row;

  &__nav {
    //@include make-xs-column(24);
    //@include make-sm-column(6.3);
    //@include make-md-column(5.3);
    border: none;
    margin-bottom: 4px;

    @media (max-width: $screen-md){
      margin-bottom: 30px;
    }

    & > li {
      width: 100%;
      margin-bottom: 36px;

      @media (max-width: $screen-sm){
        margin-bottom: 29px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .tab-pane {
        display: none !important;
        @include make-xs-column(24);
        @include make-sm-column(17.7);
        @include make-md-column(19.1);
        margin-top: -9px;

        @media (max-width: $screen-sm){
          margin-top: 18px;
        }
      }

      a {
        display: inline-block;
        vertical-align: top;
        background: none !important;
        padding: 0;
        padding-left: 30px;
        margin-right: 16px;
        font-size: 13px;
        min-height: 20px;
        line-height: 21px;
        color: $color-deep;
        position: relative;
        box-shadow: none;
        border: none !important;
        text-decoration: none !important;
        cursor: pointer !important;
      }

      &.active {
        a {
          color: $color-deep;

          &:before {
            background-color: $color-main;
          }
        }

        .tab-pane {
          display: block !important;
        }
      }
    }

    &__link {
      @include make-xs-column(24);
      @include make-sm-column(6.3);
      @include make-md-column(4.9);
      padding-right: 0 !important;
    }
  }

  &__content {
    @include make-xs-column(24);
    @include make-sm-column(17.7);
    @include make-md-column(18.7);

    li {

    }
  }

  &__select {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    list-style: none;

    & > li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      margin-bottom: 20px;

      @media (max-width: $screen-md){
        margin-bottom: 19px;
      }

      &:last-child {
        margin-right: 0;

        @media (max-width: $screen-md){
          margin-bottom: 0;
        }
      }
    }
  }

  &--cabinet {
    margin-top: 21px;
    margin-bottom: 24px;

    @media (max-width: $screen-md){
      margin-bottom: -1px;
    }
  }
}
