.tab-promo {
  margin-bottom: 67px;

  @media(max-width: $screen-md) {
    margin-bottom: 40px;
  }

  &__top {
    background-color: white;
    z-index: 2;
    border-bottom: 2px solid #eaeaea;

    &__container {
      display: flex;
      align-items: center;
      position: relative;
    }

    &__title {
      margin-bottom: 0;
      position: absolute;
      transform: translate(0%, -50%);
      top: 50%;
      left: 0;

      @media(max-width: $screen-md) {
        display: none;
      }
    }

    .nav-tabs {
      flex: 1;
      border: none;
    }
  }

  .nav-tabs {
    font-family: $verdana;
    font-size: 14px;
    text-align: center;

    li {
      float: none;
      display: inline-block;
      margin-left: 6px;
      margin-right: 6px;

      &.active {
        a {
          border-bottom: 4px solid;
          color: $color-grey;
          background-color: transparent;

          &:hover, &:focus {
            color: $color-grey;
            background-color: none;
            border-top: none;
            border-left: none;
            border-right: none;
          }
        }
      }

      a {
        border: none;
        margin: 0;
        background-color: transparent;
        border-radius: 0px;
        color: $color-grey;
        padding-top: 21px;
        padding-bottom: 18px;
        padding-left: 10px;
        padding-right: 10px;
        letter-spacing: 0.5px;

        @media(max-width: $screen-md) {
          padding-top: 20px;
          padding-bottom: 19px;
        }
      }
    }
  }

  .tab-content {
    padding: 62px 0px 0px 0px;

    @media(max-width: $screen-md) {
      padding-top: 58px;
    }

    p {
      margin-bottom: 0;

      @media(max-width: $screen-md) {
        line-height: 22px;
      }
    }

    &__title {
      margin-bottom: 41px;

      @media(max-width: $screen-md) {
        margin-bottom: 31px;
      }
    }
  }

  &--catalog {
    margin-bottom: 0;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .tab-content {
  margin-top: 63px;
}
